.input {
    padding: 10px;
}

.button {
    margin-left: 5px;
    padding: 13px 20px;
    color: #fff;
    background-color: #249ffd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #1d72b3;
}